
{% extends 'base.html' %}
{% block title %}Create A New Blog Post!{% endblock title %}
{% block content %}

    
{% if user.is_authenticated %} 
{{ request.user.username|json_script:"user_id" }}
<div>
	<h1 style="margin-left: 10px; color: whitesmoke; margin-top: 10px; background-color:rgb(87, 165, 238);font-size: 50px;">Add Post...</h1>
	<br/><br/>
</div>
<div class="colM" style="margin-left: 25px;">
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %} 
	<div class="form-group">
        <form method="POST" enctype="multipart/form-data" id="elder",placeholder="user name">
			{% csrf_token %}
			{{ form.as_p }}
	</div>

	<button class="btn btn-secondary" style="background-color:lightblue;color:black ;">Post</button>

</div>

	<script>
		var name = "user.username";

		document.getElementById("elder").placeholder = name;
			


	</script>

{% else %}

You're not allowed here! (and you know it...)

{% endif %}

{% endblock content %}
