{% extends 'base.html' %} {% block title %}Update Post{% endblock %} 
{% block content %} 
{% if user.is_authenticated %} {% if user.id == post.author.id %}

<div>
	<h1 style="margin-left: 10px; color: whitesmoke; margin-top: 10px; background-color:rgb(87, 165, 238); font-size: 50px;">Update Post...</h1>
	<br/><br/>
</div>
<div class="colM" style="margin-left: 25px;">
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %} 
	<div class="form-group">
        <form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.media }}
			{{ form.as_p }}
			<button class="btn btn-secondary" style="background-color:lightblue;color:black ;">Update</button>
	</div>
</div>

	<script>
		var name = "{{ user.id }}";
		
		document.getElementById("elder").value = name;

	</script>

{% else %} 
You're not allowed here! (and you know it...)
 {% endif %} 
 {% else %} You're not allowed here! (and you know it...)
 {% endif %} 
{% endblock %}
