        {% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header" style="color:blue ;">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This is the personal blogging page of our group and adheres to the confidentiality of everyone...</p>
        <a href=""
           class="btn btn-danger">Happy Blogging!</a>
    </div>
</div>
</div>

{% endblock sidebar %}